@model List<MyMvcApp.Models.Order>

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>Order ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.ProductName</td>
            <td>@order.Quantity</td>
        </tr>
    }
</table>